body {
  min-width: 1920px; }

main .block_a {
  background-color: #f6f6f6; }
  main .block_a .content {
    overflow: hidden; }
    main .block_a .content .directionslide {
      overflow: hidden;
      float: left;
      height: 585px; }
    main .block_a .content .directionslideright {
      margin: 0px 0px 0px 1090px; }
    main .block_a .content .slidefastnav {
      overflow: hidden;
      position: absolute;
      width: 60px;
      margin: 500px 0px 0px 558px;
      z-index: 1; }
      main .block_a .content .slidefastnav .slidefastbutton {
        width: 15px;
        height: 15px;
        background-color: #e8e8e8;
        border-radius: 25px;
        margin-right: 5px;
        float: left;
        cursor: pointer; }
      main .block_a .content .slidefastnav .slidefastbutton:hover {
        background-color: #e33b6a; }
    main .block_a .content .slidebutton {
      overflow: hidden;
      background-color: #e8e8e8;
      border-radius: 25px;
      width: 40px;
      height: 40px;
      margin-top: 222px;
      cursor: pointer; }
      main .block_a .content .slidebutton img {
        display: block;
        float: left; }
    main .block_a .content .slidebutton:hover {
      background-color: #f13d70; }
    main .block_a .content .slidebuttonleft {
      background-image: url("../img/slide_l.png");
      background-repeat: no-repeat;
      background-position: center; }
    main .block_a .content .slidebuttonright {
      background-image: url("../img/slide_r.png");
      background-repeat: no-repeat;
      background-position: center; }
    main .block_a .content .slidewrapper {
      position: absolute;
      overflow: hidden;
      float: left;
      width: 1090px;
      height: 585px;
      margin: 0px 0px 0px 40px; }
    main .block_a .content .slide {
      position: absolute;
      overflow: hidden;
      width: 1090px;
      height: 585px; }
      main .block_a .content .slide .slidedscr {
        overflow: hidden;
        float: left;
        margin: 120px 0px 0px 55px; }
        main .block_a .content .slide .slidedscr .brand {
          overflow: hidden; }
          main .block_a .content .slide .slidedscr .brand a {
            display: block;
            float: left;
            font-size: 60px;
            font-weight: bold;
            font-family: Roboto, sans-serif; }
          main .block_a .content .slide .slidedscr .brand span {
            display: block;
            float: left;
            font-size: 10px;
            padding: 2px 6px;
            background-color: #f13d70;
            color: #ffffff;
            border-radius: 4px;
            margin-left: 4px; }
        main .block_a .content .slide .slidedscr .branddscr p {
          font-family: Myriad Pro, sans-serif;
          font-size: 18px;
          text-align: left; }
        main .block_a .content .slide .slidedscr .pricebig {
          font-size: 48px;
          font-family: Roboto, sans-serif;
          margin: 22px 0px; }
          main .block_a .content .slide .slidedscr .pricebig sup {
            font-size: 32px; }
        main .block_a .content .slide .slidedscr .pricebig:first-letter {
          margin-right: 12px; }
        main .block_a .content .slide .slidedscr .buymore {
          overflow: hidden; }
          main .block_a .content .slide .slidedscr .buymore button {
            padding: 12px 40px 12px 40px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            color: #b8bfc0;
            border-radius: 25px;
            border: 2px solid #b8bfc0;
            float: left; }
          main .block_a .content .slide .slidedscr .buymore button:hover {
            border: 2px solid #e33b6a;
            background-color: #e33b6a;
            color: #ffffff; }
          main .block_a .content .slide .slidedscr .buymore img {
            display: block;
            float: left;
            margin: 0px 8px 0px 0px; }
          main .block_a .content .slide .slidedscr .buymore button:first-child {
            padding: 12px 49px 12px 40px;
            border: 2px solid #e33b6a;
            background-color: #e33b6a;
            color: #ffffff;
            margin-right: 14px; }
      main .block_a .content .slide .slidepreview {
        overflow: hidden;
        float: left;
        margin: 84px 0px 0px 147px; }
        main .block_a .content .slide .slidepreview .slidepreviewshadow {
          display: block;
          float: left;
          position: absolute;
          margin: 340px 0px 0px 60px; }
        main .block_a .content .slide .slidepreview .slidepreviewshadow:last-child {
          margin: 364px 0px 0px 4px; }
        main .block_a .content .slide .slidepreview img {
          display: block;
          float: left; }

main .block_b .content {
  width: 100%;
  margin: 0px;
  overflow: hidden; }
  main .block_b .content .watch_look {
    background-size: cover;
    width: 620px;
    height: 349px;
    float: left;
    margin-top: 30px; }
    main .block_b .content .watch_look .watch_dscr {
      overflow: hidden;
      float: left;
      margin: 146px 0px 0px 52px; }
    main .block_b .content .watch_look .read_more {
      display: block;
      float: left;
      font-size: 18px;
      color: #ffffff;
      text-decoration: underline;
      float: right;
      margin: 85px 48px 0px 0px; }
      main .block_b .content .watch_look .read_more a {
        overflow: hidden; }
      main .block_b .content .watch_look .read_more img {
        float: right;
        margin: 5px 0px 0px 10px; }
    main .block_b .content .watch_look button {
      display: block;
      float: left;
      background-color: #ffffff;
      color: #67797a;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      margin-top: 7px;
      width: 95px;
      height: 37px;
      text-align: center;
      cursor: pointer; }
    main .block_b .content .watch_look p {
      float: left;
      font-size: 18px;
      color: #ffffff;
      width: 368px;
      margin-top: 7px; }
    main .block_b .content .watch_look img {
      margin: 0px 25px 0px 15px;
      float: left; }
  main .block_b .content #wl_one {
    background-image: url("../img/watch2.png"); }
  main .block_b .content #wl_two {
    background-image: url("../img/watch3.png");
    height: 351px;
    margin: 30px 30px 0 30px; }
    main .block_b .content #wl_two p {
      width: 388px; }
  main .block_b .content #wl_three {
    background-image: url("../img/watch4.png"); }

main .block_c .content {
  overflow: hidden; }
  main .block_c .content .hdr {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 80px 0px 75px 0px; }
  main .block_c .content .ctlg {
    float: left; }
    main .block_c .content .ctlg .ctlg_imgwrapper {
      display: block;
      float: left;
      width: 234px;
      height: 220px; }
    main .block_c .content .ctlg img {
      display: block;
      margin: 0 auto; }
    main .block_c .content .ctlg a {
      display: block;
      float: left;
      clear: both;
      overflow: hidden;
      width: 157px;
      font-size: 18px;
      font-family: Roboto, sans-serif;
      text-align: center;
      color: #67797a;
      margin: 0px 38px; }

main .block_d {
  background-color: #fbfbfb; }
  main .block_d .content {
    overflow: hidden;
    width: 100%;
    margin: 0px; }
    main .block_d .content .hdr {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      text-align: center;
      padding: 80px 0px 55px 0px;
      background-color: #ffffff; }
    main .block_d .content .category {
      width: 1170px;
      margin: 0 auto;
      overflow: hidden; }
      main .block_d .content .category .ctgr {
        overflow: hidden;
        float: left;
        width: 160px;
        margin: 53px 0px 58px 92px; }
        main .block_d .content .category .ctgr .ctgr_imgwrapper {
          display: block;
          float: left;
          min-width: 102px;
          min-height: 89px;
          width: 100%;
          height: 100%; }
        main .block_d .content .category .ctgr img {
          display: block;
          margin: 0 auto; }
        main .block_d .content .category .ctgr p {
          float: left;
          clear: both;
          width: 100%;
          text-align: center; }
        main .block_d .content .category .ctgr .ctgr_type {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          margin: 27px 0px 20px 0px;
          float: left;
          clear: both;
          width: 100%;
          text-align: center;
          color: #67797a; }
        main .block_d .content .category .ctgr .ctgr_context {
          font-family: Myriad Pro, sans-serif;
          font-size: 11px; }
      main .block_d .content .category .ctgr:first-child {
        margin-left: 0px; }

main .block_e .content {
  overflow: hidden; }
  main .block_e .content .hdr {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 45px 0px; }
  main .block_e .content .thumbwrapper {
    overflow: hidden;
    width: 100%; }
  main .block_e .content .latest {
    overflow: hidden; }
    main .block_e .content .latest .lt_thumb:first-child {
      margin: 0px; }
    main .block_e .content .latest .lt_thumb {
      overflow: hidden;
      width: 209px;
      height: 383px;
      border: 1px solid #e8e8e8;
      padding: 15px 30px;
      float: left;
      margin-left: 28px; }
      main .block_e .content .latest .lt_thumb .thumbline_one {
        overflow: hidden; }
        main .block_e .content .latest .lt_thumb .thumbline_one p {
          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
          border-radius: 5px;
          float: left;
          padding: 4px 12px;
          background-color: #f13d70; }
        main .block_e .content .latest .lt_thumb .thumbline_one img {
          display: block;
          float: right; }
      main .block_e .content .latest .lt_thumb .thumbline_two img {
        display: block;
        margin: 20px auto 6px auto; }
      main .block_e .content .latest .lt_thumb .thumbline_three {
        overflow: hidden;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 5px; }
        main .block_e .content .latest .lt_thumb .thumbline_three .m_name {
          display: block;
          font-size: 12px;
          color: #4bc1c1;
          margin-top: 23px; }
        main .block_e .content .latest .lt_thumb .thumbline_three .m_model {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px; }
        main .block_e .content .latest .lt_thumb .thumbline_three .rating {
          overflow: hidden;
          float: left;
          width: 50%; }
          main .block_e .content .latest .lt_thumb .thumbline_three .rating img {
            display: block;
            float: left;
            margin-right: 2px; }
        main .block_e .content .latest .lt_thumb .thumbline_three .comment {
          overflow: hidden;
          float: right;
          width: 50%; }
          main .block_e .content .latest .lt_thumb .thumbline_three .comment img {
            display: block;
            float: right;
            margin-top: 2px;
            margin: 2px 6px 0px 0px; }
          main .block_e .content .latest .lt_thumb .thumbline_three .comment p {
            float: right;
            font-size: 14px; }
      main .block_e .content .latest .lt_thumb .thumbline_four {
        overflow: hidden; }
        main .block_e .content .latest .lt_thumb .thumbline_four .ppp {
          overflow: hidden;
          float: left;
          width: 50%; }
          main .block_e .content .latest .lt_thumb .thumbline_four .ppp .pricesmall {
            overflow: hidden;
            font-size: 12px;
            color: #b8bfc0;
            margin-top: 10px; }
            main .block_e .content .latest .lt_thumb .thumbline_four .ppp .pricesmall s {
              font-size: 12px;
              color: #b8bfc0; }
            main .block_e .content .latest .lt_thumb .thumbline_four .ppp .pricesmall sup {
              font-size: 8px;
              color: #b8bfc0; }
          main .block_e .content .latest .lt_thumb .thumbline_four .ppp .pricebig {
            overflow: hidden;
            font-size: 24px;
            font-weight: bold;
            color: #4bc1c1; }
            main .block_e .content .latest .lt_thumb .thumbline_four .ppp .pricebig sup {
              font-size: 14px; }
          main .block_e .content .latest .lt_thumb .thumbline_four .ppp .instock {
            overflow: hidden;
            margin-top: 12px; }
            main .block_e .content .latest .lt_thumb .thumbline_four .ppp .instock img {
              display: block;
              float: left;
              margin: 1px 6px 0px 0px; }
            main .block_e .content .latest .lt_thumb .thumbline_four .ppp .instock p {
              float: left;
              font-size: 11px;
              color: #b8bfc0; }
        main .block_e .content .latest .lt_thumb .thumbline_four .bb {
          overflow: hidden;
          float: left;
          width: 50%; }
          main .block_e .content .latest .lt_thumb .thumbline_four .bb img {
            display: block;
            float: left;
            margin: 1px 5px 0px 0px; }
          main .block_e .content .latest .lt_thumb .thumbline_four .bb p {
            float: left;
            font-size: 12px;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            color: #ffffff; }
          main .block_e .content .latest .lt_thumb .thumbline_four .bb button {
            padding: 8px 14px;
            margin: 21px 0px 0px 10px;
            border-radius: 18px;
            background-color: #f13d70;
            cursor: pointer;
            border: none;
            font-size: 12px;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            color: #ffffff; }
  main .block_e .content .offer {
    overflow: hidden; }
    main .block_e .content .offer .fr_thumb:first-child {
      margin: 0px; }
    main .block_e .content .offer .fr_thumb {
      overflow: hidden;
      width: 208px;
      height: 289px;
      border: 1px solid #e8e8e8;
      padding: 15px 30px;
      float: left;
      margin-left: 28px; }
      main .block_e .content .offer .fr_thumb .thumbline_one {
        overflow: hidden; }
        main .block_e .content .offer .fr_thumb .thumbline_one p {
          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
          border-radius: 5px;
          float: left;
          padding: 4px 12px;
          background-color: #f13d70; }
        main .block_e .content .offer .fr_thumb .thumbline_one img {
          display: block;
          float: right;
          margin-top: 5px;
          margin: 5px 0px 0px 2px; }
      main .block_e .content .offer .fr_thumb .thumbline_two {
        overflow: hidden; }
        main .block_e .content .offer .fr_thumb .thumbline_two img {
          display: block;
          margin: 20px auto 6px auto; }
        main .block_e .content .offer .fr_thumb .thumbline_two .bb {
          position: absolute;
          padding: 8px 14px;
          margin: -104px 0px 0px 58px;
          border-radius: 18px;
          background-color: #f13d70;
          cursor: pointer;
          border: none;
          font-size: 12px;
          font-weight: bold;
          font-family: Roboto, sans-serif;
          color: #ffffff; }
          main .block_e .content .offer .fr_thumb .thumbline_two .bb img {
            display: block;
            float: left;
            margin: 1px 5px 0px 0px; }
          main .block_e .content .offer .fr_thumb .thumbline_two .bb p {
            float: left;
            font-size: 12px;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            color: #ffffff; }
      main .block_e .content .offer .fr_thumb .thumbline_three {
        overflow: hidden; }
        main .block_e .content .offer .fr_thumb .thumbline_three .m_model {
          font-size: 14px;
          font-weight: bold;
          margin: 23px 0px 10px 0px;
          text-align: center; }
        main .block_e .content .offer .fr_thumb .thumbline_three .pricebig {
          overflow: hidden;
          font-size: 24px;
          font-weight: bold;
          color: #4bc1c1;
          text-align: center; }
          main .block_e .content .offer .fr_thumb .thumbline_three .pricebig sup {
            font-size: 14px; }

main .block_f {
  background-color: #fbfbfb; }
  main .block_f .content {
    width: 100%;
    margin: 0px;
    overflow: hidden; }
    main .block_f .content .corewrapper {
      width: 1170px;
      margin: 0 auto 30px auto;
      overflow: hidden; }
    main .block_f .content .hdrwrapper {
      overflow: hidden;
      background-color: #ffffff; }
      main .block_f .content .hdrwrapper .hdrwrappercenter {
        overflow: hidden;
        margin: 0 auto;
        width: 1170px; }
        main .block_f .content .hdrwrapper .hdrwrappercenter p {
          font-family: Roboto, sans-serif;
          font-size: 24px;
          margin: 45px 0px;
          float: left;
          width: 50%; }
        main .block_f .content .hdrwrapper .hdrwrappercenter p:last-child {
          width: 473px;
          margin-left: 112px; }
    main .block_f .content .buyercomment {
      overflow: hidden;
      width: 50%;
      float: left; }
      main .block_f .content .buyercomment .comment {
        overflow: hidden;
        width: 100%;
        margin-top: 30px; }
        main .block_f .content .buyercomment .comment .avatar {
          overflow: hidden;
          width: 98px;
          height: 98px;
          border: 1px solid #e8e8e8;
          background-color: #ffffff;
          background-image: url("../img/avatar.png");
          background-repeat: no-repeat;
          background-position: center;
          float: left;
          margin-top: 3px; }
        main .block_f .content .buyercomment .comment .commentcontent {
          overflow: hidden;
          float: left;
          width: 455px;
          margin: 0px 0px 0px 13px; }
          main .block_f .content .buyercomment .comment .commentcontent .username {
            font-size: 14px; }
          main .block_f .content .buyercomment .comment .commentcontent .ratetime {
            overflow: hidden;
            margin-top: 8px; }
            main .block_f .content .buyercomment .comment .commentcontent .ratetime .rating {
              overflow: hidden;
              float: left; }
              main .block_f .content .buyercomment .comment .commentcontent .ratetime .rating img {
                display: block;
                float: left;
                margin-right: 2px; }
            main .block_f .content .buyercomment .comment .commentcontent .ratetime .timestamp {
              overflow: hidden;
              float: right; }
              main .block_f .content .buyercomment .comment .commentcontent .ratetime .timestamp p {
                float: right;
                font-size: 12px;
                color: #b8bfc0; }
              main .block_f .content .buyercomment .comment .commentcontent .ratetime .timestamp img {
                display: block;
                float: right;
                margin: 2px 8px 0px 0px; }
          main .block_f .content .buyercomment .comment .commentcontent .usermessage {
            font-size: 12px;
            font-family: Myriad Pro, sans-serif;
            margin-top: 8px; }
      main .block_f .content .buyercomment .commentswipe {
        overflow: hidden; }
        main .block_f .content .buyercomment .commentswipe button {
          width: 24px;
          height: 24px;
          background-color: #e8e8e8;
          border: none;
          border-radius: 25px;
          float: right;
          cursor: pointer;
          margin-top: 8px;
          background-repeat: no-repeat;
          background-position: center; }
        main .block_f .content .buyercomment .commentswipe button:first-child {
          margin: 8px 16px 0px 6px;
          background-image: url("../img/comment_next.png"); }
        main .block_f .content .buyercomment .commentswipe button:last-child {
          background-image: url("../img/comment_prev.png"); }
        main .block_f .content .buyercomment .commentswipe button:hover {
          background-color: #f13d70; }
    main .block_f .content .paymentdelivery {
      overflow: hidden;
      width: 50%;
      float: left; }
      main .block_f .content .paymentdelivery .payment {
        overflow: hidden;
        width: 473px;
        margin-left: 112px; }
        main .block_f .content .paymentdelivery .payment img {
          display: block;
          float: left;
          margin-right: 28px; }
        main .block_f .content .paymentdelivery .payment .paypalvisa {
          margin-top: 6px; }
        main .block_f .content .paymentdelivery .payment .acceptpayhdr {
          font-size: 24px;
          margin: 30px 0px 26px 0px; }
        main .block_f .content .paymentdelivery .payment .warning {
          overflow: hidden;
          float: left;
          width: 100%;
          margin-top: 26px; }
          main .block_f .content .paymentdelivery .payment .warning p {
            font-size: 14px;
            color: #4bc1c1;
            text-align: left;
            width: 426px;
            float: left; }
          main .block_f .content .paymentdelivery .payment .warning img {
            margin-right: 23px; }
      main .block_f .content .paymentdelivery .delivery {
        overflow: hidden;
        width: 473px;
        margin-left: 112px; }
        main .block_f .content .paymentdelivery .delivery .deliveryhdr {
          font-size: 24px;
          margin: 30px 0px 22px 0px; }
        main .block_f .content .paymentdelivery .delivery .deliverydscr {
          font-size: 12px;
          font-family: Myriad Pro, sans-serif; }
        main .block_f .content .paymentdelivery .delivery .trucktype {
          overflow: hidden;
          margin-top: 42px; }
          main .block_f .content .paymentdelivery .delivery .trucktype .truck {
            overflow: hidden;
            float: left; }
            main .block_f .content .paymentdelivery .delivery .trucktype .truck img {
              display: block;
              float: left; }
          main .block_f .content .paymentdelivery .delivery .trucktype .type {
            overflow: hidden;
            float: left;
            margin-left: 30px; }
            main .block_f .content .paymentdelivery .delivery .trucktype .type img {
              display: block;
              float: left;
              clear: left;
              margin-top: 2px; }
            main .block_f .content .paymentdelivery .delivery .trucktype .type p {
              float: left;
              font-size: 14px;
              margin: 0px 0px 3px 10px; }
      main .block_f .content .paymentdelivery .moreaboutdlvr {
        overflow: hidden;
        width: 473px;
        margin-left: 112px; }
        main .block_f .content .paymentdelivery .moreaboutdlvr a {
          display: block;
          float: left;
          text-decoration: underline;
          font-size: 14px;
          margin: 26px 12px 0px 0px; }
        main .block_f .content .paymentdelivery .moreaboutdlvr img {
          display: block;
          float: left;
          margin-top: 30px; }

main .block_g .content {
  overflow: hidden; }
  main .block_g .content p {
    font-size: 14px;
    margin-bottom: 20px; }
  main .block_g .content a {
    font-size: 14px;
    text-decoration: underline; }
  main .block_g .content .textwrapper {
    overflow: hidden;
    margin: 95px 0px 105px 0px; }
