.content {
  overflow: hidden;
}


.pathHDR {
  padding: 30px 0px 0px 0px;
  font-size: 14px;
}
.pathHDR_stdPoint {
  display: inline;
}
.pathHDR_symbol {
  margin: 0px 5px;
  display: inline;
}
.pathHDR_stdPointRef {
  color: #67797a;
  border-bottom: 1px solid #dfe2e2;
}


.ItemReview {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 30px 0px 0px 0px;
}
.ItemReview_imageWrap {
  overflow: hidden;
  float: left;
  width: 50%;
}
.ItemReview_NAHRow {
  overflow: hidden;
  float: left;
  width: 100%;
}
.ItemReview_NAHRow_name {
  font-size: 24px;
  font-weight: bold;
  float: left;
}
.ItemReview_NAHRow_hint {
  font-size: 18px;
  font-weight: bold;
  float: right;
  color: #ffffff;
  padding: 3px 15px;
  background-color: #f13d70;
  border-radius: 5px;
}
.ItemReview_zoomRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 26px 0px 0px 0px;
}
.ItemReview_zoomImage {
  display: block;
  float: left;
  cursor: pointer;
}
.ItemReview_zoom {
  float: left;
  font-size: 14px;
  margin: 3px 0px 0px 15px;
}
.ItemReview_displayRow {
  overflow: hidden;
  float: left;
  width: 100%;
}
.ItemReview_hugeImage {
  display: block;
  float: left;
  width: 100%;
}
.ItemReview_sliderRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 50px 0px 0px 0px;
}
.ItemReview_sliderDirection {
  overflow: hidden;
  float: left;
  cursor: pointer;
}
.ItemReview_sliderDirection:first-child {
  margin: 45px 30px 0px 0px;
}
.ItemReview_sliderDirection:last-child {
  margin: 45px 0px 0px 30px;
}
.ItemReview_sliderDirectionArrow {
  margin: 1px 0px 0px 0px;
}
.ItemReview_sliderItem {
  overflow: hidden;
  float: left;
  width: 108px;
  height: 108px;
  border: 1px solid #b8bfc0;
  cursor: pointer;
  margin: 0px 0px 0px 20px;
}
.ItemReview_sliderItemFirstChild {
  margin: 0px 0px 0px 0px;
}
.ItemReview_sliderItemBlur {
  position: absolute;
  display: block;
  float: left;
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.8);
}
.ItemReview_sliderItemImage {
  display: block;
  float: left;
  max-width: 100%;
  margin: 10px 0px 0px 8px;
}
.ItemReview_descrWrap {
  overflow: hidden;
  float: right;
  width: 43%;
  background-color: #fbfbfb;
  padding: 44px 27px 36px 27px;
}
.ItemReview_NARRow {
  overflow: hidden;
  float: left;
  width: 100%;
}
.ItemReview_productName {
  float: left;
  font-size: 24px;
  color: #4bc1c1;
}
.ItemReview_productRatingStarWrap {
  float: right;
}
.ItemReview_productRatingStar {
  display: block;
  float: left;
  margin: 8px 0px 0px 2px;
}
.ItemReview_priceRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 20px 0px 0px 0px;
}
.ItemReview_price {
  float: left;
  font-size: 18px;
  color: #b8bfc0;
}
.ItemReview_price span {
  font-size: 14px;
  color: #b8bfc0;
  text-decoration: line-through;
}
.ItemReview_price span sup {
  font-size: 10px;
  color: #b8bfc0;
}
.ItemReview_priceSaving {
  float: left;
  font-size: 14px;
  color: #b8bfc0;
  margin: 0px 0px 0px 25px;
}
.ItemReview_priceBig {
  float: left;
  clear: left;
  font-size: 36px;
  font-weight: bold;
  color: #4bc1c1;
}
.ItemReview_priceBig sup {
  font-size: 22px;
}
.ItemReview_priceHintWrap {
  overflow: hidden;
  float: right;
  margin: 8px 0px 0px 0px;
}
.ItemReview_priceInStockIcon {
  display: block;
  float: left;
  margin: 2px 6px 0px 0px;
}
.ItemReview_priceInStockHint {
  float: left;
  font-size: 12px;
  color: #b8bfc0;
}
.ItemReview_charactRow {
  overflow: hidden;
  float: left;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #e8e8e8;
}
.ItemReview_charactHeader {
  font-size: 24px;
}
.ItemReview_characteristic {
  font-size: 16px;
  margin: 10px 0px 0px 16px;
}
.ItemReview_characteristic li {
  line-height: 24px;
}
.ItemReview_characteristic span {
  color: #b8bfc0;
}
.ItemReview_deliveryRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 20px 0px 0px 0px;
}
.ItemReview_deliveryHeader {
  font-size: 24px;
}
.ItemReview_deliveryHint {
  font-family: Myriad Pro, sans-serif;
  font-size: 11px;
  margin: 20px 0px 40px 0px;
}
.ItemReview_deliveryTruckImg {
  display: block;
  float: left;
  max-width: 98px;
}
.ItemReview_deliveryMethodWrap {
  overflow: hidden;
  float: left;
  margin: 0px 0px 0px 30px;
}
.ItemReview_deliveryMethod {
  overflow: hidden;
  margin: 0px 0px 4px 0px;
}
.ItemReview_deliveryMethodImg {
  display: block;
  float: left;
  margin: 2px 10px 0px 0px;
}
.ItemReview_deliveryMethodDscr {
  float: left;
  font-size: 14px;
}
.ItemReview_deliveryMoreInfoWrap {
  overflow: hidden;
  clear: both;
  padding: 25px 0px 0px 0px;
}
.ItemReview_deliveryMoreInfo {
  display: block;
  float: left;
  height: 16px;
  font-size: 14px;
  border-bottom: 1px solid #d8eded;
  margin: 0px 12px 0px 0px;
}
.ItemReview_deliveryButtonAddBin {
  display: block;
  float: left;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 14px 36px;
  background-color: #f13d70;
  margin: 34px 0px 0px 0px;
}
.ItemReview_deliveryButtonAddBin:hover {
  background-color: #ff336d;
}
.ItemReview_deliveryButtonAddBin img {
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
}
.ItemReview_deliveryButtonAddBin p {
  float: left;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.ItemReview_deliveryButtonCompare {
  display: block;
  float: left;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: inherit;
  margin: 41px 0px 0px 48px;
}
.ItemReview_deliveryButtonCompare:hover p {
  color: #cbd3d4;
}
.ItemReview_deliveryButtonCompare img {
  display: block;
  float: left;
  margin: 0px 14px 0px 0px;
}
.ItemReview_deliveryButtonCompare p {
  float: left;
  color: #b8bfc0;
  margin: 5px 0px 0px 0px;
  font-size: 14px;
}


.TextSwitcher {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 55px 0px 0px 0px;
}
.TextSwitcher_categoryWrap {
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 0px 4px 0px;
}
.TextSwitcher_category {
  float: left;
  font-size: 18px;
  cursor: pointer;
  margin: 0px 22px 0px 22px;
}
.TextSwitcher_category:first-child {
  margin-left: 0px;
}
.TextSwitcher_text {
  font-size: 14px;
  margin: 30px 0px 0px 0px;
}
.TextSwitcher_text a {
  border-bottom: 1px solid #d8eded;
}


.BInfo {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 45px 0px 0px 0px;
}
.BInfo_characteristicsHeader {
  font-size: 24px;
  font-family: Roboto, sans-serif;
}
.BInfo_characteristicsTable {
  margin: 20px 0px 0px 0px;
}
.BInfo_characteristicsTable tr td {
  display: block;
  float: left;
  line-height: 15px;
}
.BInfo_characteristicsTable tr td:first-child {
  min-width: 410px;
  font-size: 14px;
  color: #b8bfc0;
}
.BInfo_characteristicsTable tr td:last-child {
  font-size: 14px;
}
.BInfo_videoHeader {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  margin: 45px 0px 25px 0px;
}
.BInfo_video {
  display: block;
  float: left;
  background-image: url("../img/review_youtube.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 370px;
  height: 209px;
  margin: 0px 0px 15px 0px;
}
.BInfo_videoFirst {
  width: 770px;
  height: 433px;
  margin-right: 30px;
}


.Comment {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 35px 0px 0px 0px;
}
.Comment_counter {
  font-size: 24px;
  font-family: Roboto, sans-serif;
}
.Comment_form {
  display: block;
  overflow: hidden;
  float: left;
  width: 100%;
}
.Comment_formTextarea {
  font-size: 14px;
  font-family: Myriad Pro, sans-serif;
  width: 1104px;
  height: 18px;
  padding: 16px 32px;
  margin: 22px 0px 10px 0px;
  border: 1px solid #e8e8e8;
  resize: none;
}
.Comment_form button {
  font-size: 12px;
  font-family: Myriad Pro, sans-serif;
  border: none;
  border-radius: 4px;
  padding: 4px 18px;
  margin: 0px 0px 0px 18px;
  float: right;
  cursor: pointer;
}
.Comment_formCancel {
  color: #b8bfc0;
  background-color: #ffffff;
}
.Comment_formCancel:hover {
  color: #cbd3d4;
}
.Comment_formSubmit {
  color: #ffffff;
  background-color: #e33b6a;
}
.Comment_formSubmit:hover {
  background-color: #ff336d;
}
.Comment_orderList {
  font-size: 12px;
  font-family: Myriad Pro, sans-serif;
  border: 1px solid #e8e8e8;
  background-color: #fbfbfb;
  border-radius: 6px;
  padding: 4px 12px;
}
.Comment_userCommentGroupWrap {
  overflow: hidden;
  float: left;
  width: 100%;
}
.Comment_userCommentWrap {
  overflow: hidden;
  float: left;
}
