.content {
  overflow: hidden;
}
.bla {
  margin: 0px
}


.pathHDR {
  padding: 30px 0px 0px 0px;
  font-size: 14px;
}
.pathHDR_stdPoint {
  display: inline;
}
.pathHDR_symbol {
  margin: 0px 5px;
  display: inline;
}
.pathHDR_stdPointRef {
  color: #67797a;
  text-decoration: underline;
}


.ItemReview {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 30px 0px 0px 0px;
}
.ItemReview_imageWrap {
  overflow: hidden;
  float: left;
  width: 50%;
}
.ItemReview_NAHRow {
  overflow: hidden;
  float: left;
  width: 100%;
}
.ItemReview_NAHRow_name {
  font-size: 24px;
  font-weight: bold;
  float: left;
}
.ItemReview_NAHRow_hint {
  font-size: 18px;
  font-weight: bold;
  float: right;
  color: #ffffff;
  padding: 3px 15px;
  background-color: #f13d70;
  border-radius: 5px;
}
.ItemReview_zoomRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 26px 0px 0px 0px;
}
.ItemReview_zoomImage {
  display: block;
  float: left;
  cursor: pointer;
}
.ItemReview_zoom {
  float: left;
  font-size: 14px;
  margin: 3px 0px 0px 15px;
}
.ItemReview_displayRow {
  overflow: hidden;
  float: left;
  width: 100%;
}
.ItemReview_hugeImage {
  display: block;
  float: left;
  width: 100%;
}
.ItemReview_sliderRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 50px 0px 0px 0px;
}
.ItemReview_sliderDirection {
  overflow: hidden;
  float: left;
  cursor: pointer;
}
.ItemReview_sliderDirection:first-child {
  margin: 45px 30px 0px 0px;
}
.ItemReview_sliderDirection:last-child {
  margin: 45px 0px 0px 30px;
}
.ItemReview_sliderDirectionArrow {
  margin: 1px 0px 0px 0px;
}
.ItemReview_sliderItem {
  overflow: hidden;
  float: left;
  width: 108px;
  height: 108px;
  border: 1px solid #b8bfc0;
  cursor: pointer;
  margin: 0px 0px 0px 20px;
}
.ItemReview_sliderItemFirstChild {
  margin: 0px 0px 0px 0px;
}
.ItemReview_sliderItemBlur {
  position: absolute;
  display: block;
  float: left;
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.8);
}
.ItemReview_sliderItemImage {
  display: block;
  float: left;
  max-width: 100%;
  margin: 10px 0px 0px 8px;
}
.ItemReview_descrWrap {
  overflow: hidden;
  float: right;
  width: 43%;
  background-color: #fbfbfb;
  padding: 33px 27px 20px 27px;
}
.ItemReview_NARRow {
  overflow: hidden;
  float: left;
  width: 100%;
}
.ItemReview_productName {
  float: left;
  font-size: 24px;
  color: #4bc1c1;
}
.ItemReview_productRatingStarWrap {
  float: right;
}
.ItemReview_productRatingStar {
  display: block;
  float: left;
  margin: 8px 0px 0px 2px;
}
.ItemReview_priceRow {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 20px 0px 0px 0px;
}
.ItemReview_price {
  float: left;
  font-size: 18px;
  color: #b8bfc0;
}
.ItemReview_price span {
  font-size: 14px;
  color: #b8bfc0;
  text-decoration: line-through;
}
.ItemReview_price span sup {
  font-size: 10px;
  color: #b8bfc0;
}
.ItemReview_priceSaving {
  float: left;
  font-size: 14px;
  color: #b8bfc0;
  margin: 0px 0px 0px 25px;
}
.ItemReview_priceBig {
  float: left;
  clear: left;
  font-size: 36px;
  font-weight: bold;
  color: #4bc1c1;
}
.ItemReview_priceBig sup {
  font-size: 22px;
}
.ItemReview_priceHintWrap {
  overflow: hidden;
  float: right;
  margin: 8px 0px 0px 0px;
}
.ItemReview_priceInStockIcon {
  display: block;
  float: left;
  margin: 2px 6px 0px 0px;
}
.ItemReview_priceInStockHint {
  float: left;
  font-size: 12px;
  color: #b8bfc0;
}
