// CONTENT start
main {
  .block_a {
    .content {
      div {
        font-size: 14px;
        padding: 30px 0px 25px 0px;
        p {
          display: inline;
        }
        a {
          color: #67797a;
          text-decoration: underline;
        }
      }
      #m_smbl {
        margin: 0px 5px;
      }
    }
  }
  .block_b {
    .content {
      overflow: hidden;
      .basketwrapper {
        overflow: hidden;
        float: left;
        width: 890px;
        .pathexplore {
          overflow: hidden;
          font-size: 24px;
          p {
            color: #b8bfc0;
            display: inline;
          }
          img {
            margin: 0px 12px;
          }
          .pathhover {
            color: #4bc1c1;
          }
        }
        .basketctt {
          overflow: hidden;
          min-width: 100%;
          min-height: 233px;
          .columnwrapper {
            padding: 40px 0px 12px 0px;
            p {
              display: inline;
              font-size: 14px;
              color: #b8bfc0;
            }
            .columnname {
              margin-left: 136px;
            }
            .columnamount {
              margin-left: 276px;
            }
            .columnprice {
              margin-left: 204px;
            }
          }
          .basketitem {
            overflow: hidden;
            margin: 0px 0px 32px 0px;
            span {
              display: block;
              float: left;
              font-size: 15px;
              color: #f13d70;
              cursor: pointer;
              margin: 24px 38px 0px 0px;
            }
            img {
              display: block;
              float: left;
              width: 50px;
            }
            .itemnameoptions {
              overflow: hidden;
              float: left;
              margin: 22px 0px 0px 38px;
              p {
                font-size: 18px;
                font-weight: bold;
              }
              a {
                display: block;
                float: left;
              }
              span {
                font-size: 12px;
                color: #4bc1c1;
                text-decoration: underline;
                margin: 0px;
              }
              img {
                width: 11px;
                margin: 2.5px 0px 0px 5px;
              }
            }
            .incdecamount {
              overflow: hidden;
              float: left;
              margin: 20px 0px 0px 150px;
              span {
                display: block;
                float: left;
                color: #f13d70;
                font-size: 18px;
                margin: 3px 0px 0px 0px;
              }
              span:last-child {
                margin: 4px 0px 0px 0px;
              }
              p {
                float: left;
                font-size: 24px;
                padding: 0px 14px;
              }
            }
            .pricebig {
              float: right;
              font-size: 24px;
              font-weight: bold;
              color: #4bc1c1;
              margin: 20px 0px 0px 0px;
              sup {
                font-size: 14px;
              }
            }
          }
          .basketitem:last-child {
            margin: 0px 0px 0px 0px;
          }
        }
        .browsemore {
          overflow: hidden;
          padding: 68px 0px 26px 0px;
          border-bottom: 1px solid #e8e8e8;
          a {
            display: block;
            float: left;
          }
          img {
            display: block;
            float: left;
            margin: 4px 12px 0px 0px;
          }
          span {
            display: block;
            float: left;
            font-family: Myriad Pro, sans-serif;
            font-size: 14px;
          }
        }
        .athorizregistrwrapper {
          overflow: hidden;
          div {
            overflow: hidden;
            float: left;
            padding: 15px 0px 0px 0px;
            width: 260px;
            margin: 0px 0px 0px 50px;
          }
          div:first-child {
            margin: 0px 0px 0px 0px;
          }
          img {
            display: block;
            float: left;
          }
          p {
            float: left;
            font-size: 12px;
            width: 212px;
            margin: 15px 0px 0px 20px;
            text-align: left;
          }
          a {
            display: block;
            float: left;
            font-size: 18px;
            clear: right;
            border-bottom: 2px solid #dbf0f0;
            margin: 0px 0px 0px 20px;
          }
          a:hover {
            color: #f13d70;
            border-bottom: 2px solid #ffffff;
          }
          span {
            color: #f13d70;
          }
          .authoriz {
            a {
              line-height: 18px;
            }
          }
          .registr {
            a {
              line-height: 18px;
            }
          }
          .conditions {
            width: 270px;
            a {
              display: inline;
              float: none;
              font-size: 12px;
              border: none;
              margin: 0px 0px 0px 0px;
              text-decoration: underline;
            }
            p {
              margin: 35px 0px 0px 0px;
              width: 100%;
            }
          }
        }
      }
      .totalbillwrapper {
        overflow: hidden;
        float: left;
        width: 260px;
        margin: 29px 0px 0px 20px;
        .tbnumberswrapper {
          overflow: hidden;
          background-color: #fbfbfb;
          padding: 18px 28px 18px 28px;
          span {
            font-size: 14px;
            display: block;
            float: right;
            margin: 8px 0px 0px 5px;
          }
          div {
            overflow: hidden;
          }
          div p:first-child {
            font-size: 14px;
            float: left;
            margin: 9px 0px 0px 0px;
          }
          div p {
            font-size: 24px;
            display: block;
            float: right;
          }
          .billhdr {
            font-size: 24px;
            margin: 0px 0px 12px 0px;
          }
          .billprice {
            p:first-child {
              color: #b8bfc0;
            }
          }
          .billdiscount {
            p:first-child {
              color: #b8bfc0;
            }
          }
          .billorder {
            padding: 10px 0px 15px 0px;
            margin: 12px 0px 8px 0px;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            p {
              color: #4bc1c1;
            }
            p:first-child {
              color: #67797a;
            }
          }
          .billdelivery {
            p:first-child {
              color: #4bc1c1;
            }
          }
        }
        button {
          display: block;
          margin: 30px auto;
          border: none;
          background-color: #f13d70;
          width: 220px;
          height: 44px;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          color: #ffffff;
          border-radius: 25px;
          cursor: pointer;
        }
        button:hover {
          background-color: #ff336d;
        }
        .promocodewrapper {
          overflow: hidden;
          background-color: #fbfbfb;
          padding: 12px 28px;
          a {
            text-decoration: underline;
            font-size: 14px;
          }
          a:hover {
            color: #f13d70;
          }
          .promocode {
            overflow: hidden;
            border-bottom: 1px solid #e8e8e8;
            padding: 0px 0px 26px 0px;
            margin: 0px 0px 10px 0px;
            img {
              display: block;
              float: left;
              margin: 0px 8px 0px 0px;
            }
            p {
              float: left;
              font-size: 12px;
            }
          }
          .recalc {
            text-align: center;
          }
        }
      }
    }
  }
  .block_c {
    .content {
      overflow: hidden;
      .yourplacewrapper {
        overflow: hidden;
        margin: 50px 0px 0px 0px;
        .yourplaceauto {
          overflow: hidden;
          font-size: 18px;
          p {
            float: left;
          }
          a {
            display: block;
            float: left;
            border-bottom: 2px solid #dbf0f0;
            line-height: 18px;
            margin: 0px 0px 0px 5px;
          }
          a:hover {
            color: #f13d70;
            border-bottom: 2px solid #ffffff;
          }
        }
        .yourplacechoose {
          overflow: hidden;
          margin: 22px 0px 0px 0px;
          p {
            font-size: 14px;
            display: block;
            float: left;
          }
          input {
            font-size: 12px;
            display: block;
            float: left;
            width: 185px;
            border: none;
            border-bottom: 1px solid #e8e8e8;
            padding: 2px 0px 12px 0px;
            margin: 0px 30px 0px 20px;
          }
          button {
            display: block;
            float: left;
            font-size: 12px;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            width: 100px;
            height: 30px;
            background-color: #f13d70;
            border: none;
            border-radius: 25px;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
          }
          button:hover {
            background-color: #ff336d;
          }
        }
      }
      .contactinfo {
        overflow: hidden;
        margin: 40px 0px 0px 0px;
        .contactushdr {
          font-size: 18px;
          margin: 0px 0px 20px 0px;
        }
        form {
          overflow: hidden;
        }
        .namephonemail {
          overflow: hidden;
          float: left;
          padding-bottom: 5px;
          border-bottom: 1px solid #e8e8e8;
          margin: 0px 0px 0px 30px;
          input {
            border: none;
            width: 306px;;
            font-size: 14px;
          }
          img {
            display: block;
            float: left;
            margin: 3px 10px 0px 0px;
          }
          p {
            margin-bottom: 10px;
            font-family: Myriad Pro, sans-serif;
            font-size: 14px;
          }
        }
        .namephonemail:first-child {
          margin: 0px 0px 0px 0px;
        }
        button {
          font-size: 12px;
          font-weight: bold;
          float: right;
          width: 100px;
          height: 30px;
          background-color: #f13d70;
          color: #ffffff;
          border: none;
          border-radius: 25px;
          text-align: center;
          cursor: pointer;
          margin: 14px 0px 0px 0px;
        }
        button:hover {
          background-color: #ff336d;
        }
      }
    }
  }
  .block_d {
    .content {
      overflow: hidden;
      padding: 50px 0px 0px 0px;
      .hdrpa {
        font-size: 18px;
        margin: 0px 0px 26px 0px;
      }
      .dandpwrapper {
        overflow: hidden;
        float: left;
        width: 346px;
      }
      .addresswrapper {
        overflow: hidden;
        float: right;
        width: 780px;
        img {
          display: block;
          width: 780px;
        }
      }
    }
  }
}
// CONTENT end
