body {
  min-width: 1920px;
}

// CONTENT start
main {
  .block_a {
    background-color: #f6f6f6;
    .content {
      overflow: hidden;
      #lsb {
        background-image: url("../img/slide_l.png");
        background-repeat: no-repeat;
        background-position: center;
      }
      #rsb {
        background-image: url("../img/slide_r.png");
        background-repeat: no-repeat;
        background-position: center;
      }
      .directionslide {
        overflow: hidden;
        float: left;
      }
      .slidebutton {
        overflow: hidden;
        background-color: #e8e8e8;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        margin-top: 222px;
        cursor: pointer;
        img {
          display: block;
          float: left;
        }
      }
      .slidebutton:hover {
        background-color: #f13d70;
      }
      .slide {
        overflow: hidden;
        float: left;
        width: 1090px;
        .slidedscrpreviewrapper {
          overflow: hidden;
          display: none;
          .slidedscr {
            overflow: hidden;
            float: left;
            margin: 120px 0px 0px 55px;
            .brand {
              overflow: hidden;
              a {
                display: block;
                float: left;
                font-size: 60px;
                font-weight: bold;
                font-family: Roboto, sans-serif;
              }
              span {
                display: block;
                float: left;
                font-size: 10px;
                padding: 2px 6px;
                background-color: #f13d70;
                color: #ffffff;
                border-radius: 4px;
                margin-left: 4px;
              }
            }
            .branddscr {
              p {
                font-family: Myriad Pro, sans-serif;
                font-size: 18px;
                text-align: left;
              }
            }
            .pricebig {
              font-size: 48px;
              font-family: Roboto, sans-serif;
              margin: 22px 0px;
              sup {
                font-size: 32px;
              }
            }
            .pricebig:first-letter {
              margin-right: 12px;
            }
            .buymore {
              overflow: hidden;
              button {
                padding: 12px 40px 12px 40px;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                color: #b8bfc0;
                border-radius: 25px;
                border: 2px solid #b8bfc0;
                float: left;
              }
              button:hover {
                border: 2px solid #e33b6a;
                background-color: #e33b6a;
                color: #ffffff;
              }
              img {
                display: block;
                float: left;
                margin: 0px 8px 0px 0px;
              }
              button:first-child {
                padding: 12px 49px 12px 40px;
                border: 2px solid #e33b6a;
                background-color: #e33b6a;
                color: #ffffff;
                margin-right: 14px;
              }
            }
          }
          .slidepreview {
            overflow: hidden;
            float: left;
            margin: 84px 0px 0px 147px;
            .slidepreviewshadow {
              display: block;
              float: left;
              position: absolute;
              margin: 340px 0px 0px 60px;
            }
            .slidepreviewshadow:last-child {
              margin: 364px 0px 0px 4px;
            }
            img {
              display: block;
              float: left;
            }
          }
        }
        .slidedscrpreviewrapper:first-child {
          display: block;
        }
        .slidefastnav {
          overflow: hidden;
          clear: both;
          float: left;
          width: 100%;
          margin: 61px 0px 70px 0px;
          .slidefastnavwrapper {
            overflow: hidden;
            margin: 0px auto;
            width: 60px;
          }
          .slidefastbutton {
            width: 15px;
            height: 15px;
            background-color: #e8e8e8;
            border-radius: 25px;
            margin-right: 5px;
            float: left;
            cursor: pointer;
          }
          .slidefastbutton:hover {
            background-color: #e33b6a;
          }
        }
      }
    }
  }
  .block_b {
    .content {
      width: 100%;
      margin: 0px;
      overflow: hidden;
      .watch_look {
        background-size: cover;
        width: 620px;
        height: 349px;
        float: left;
        margin-top: 30px;
        .watch_dscr {
          overflow: hidden;
          float: left;
          margin: 146px 0px 0px 52px;
        }
        .read_more {
          display: block;
          float: left;
          font-size: 18px;
          color: #ffffff;
          text-decoration: underline;
          float: right;
          margin: 85px 48px 0px 0px;
          a {
            overflow: hidden;
          }
          img {
            float: right;
            margin: 5px 0px 0px 10px;
          }
        }
        button {
          display: block;
          float: left;
          background-color: #ffffff;
          color: #67797a;
          font-size: 14px;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          margin-top: 7px;
          width: 95px;
          height: 37px;
          text-align: center;
          cursor: pointer;
        }
        p {
          float: left;
          font-size: 18px;
          color: #ffffff;
          width: 368px;
          margin-top: 7px;
        }
        img {
          margin: 0px 25px 0px 15px;
          float: left;
        }
      }
      #wl_one {
        background-image: url("../img/watch2.png");
      }
      #wl_two {
        background-image: url("../img/watch3.png");
        height: 351px;
        margin: 30px 30px 0 30px;
        p {
          width: 388px;
        }
      }
      #wl_three {
        background-image: url("../img/watch4.png");
      }
    }
  }
  .block_c {
    .content {
      overflow: hidden;
      .hdr {
        font-family: Roboto, sans-serif;
        font-size: 24px;
        text-align: center;
        margin: 80px 0px 75px 0px;
      }
      .ctlg {
        float: left;
        .ctlg_imgwrapper {
          display: block;
          float: left;
          width: 234px;
          height: 220px;
        }
        img {
          display: block;
          margin: 0 auto;
        }
        a {
          display: block;
          float: left;
          clear: both;
          overflow: hidden;
          width: 157px;
          font-size: 18px;
          font-family: Roboto, sans-serif;
          text-align: center;
          color: #67797a;
          margin: 0px 38px;
        }
      }
    }
  }
  .block_d{
    background-color: #fbfbfb;
    .content {
      overflow: hidden;
      width: 100%;
      margin: 0px;
      .hdr {
        font-family: Roboto, sans-serif;
        font-size: 24px;
        text-align: center;
        padding: 80px 0px 55px 0px;
        background-color: #ffffff;
      }
      .category {
        width: 1170px;
        margin: 0 auto;
        overflow: hidden;
        .ctgr {
          overflow: hidden;
          float: left;
          width: 160px;
          margin: 53px 0px 58px 92px;
          .ctgr_imgwrapper {
            display: block;
            float: left;
            min-width: 102px;
            min-height: 89px;
            width: 100%;
            height: 100%;
          }
          img {
            display: block;
            margin: 0 auto;
          }
          p {
            float: left;
            clear: both;
            width: 100%;
            text-align: center;
          }
          .ctgr_type {
            font-family: Roboto, sans-serif;
            font-size: 18px;
            margin: 27px 0px 20px 0px;
            float: left;
            clear: both;
            width: 100%;
            text-align: center;
            color: #67797a;
          }
          .ctgr_context {
            font-family: Myriad Pro, sans-serif;
            font-size: 11px;
          }
        }
        .ctgr:first-child {
          margin-left: 0px;
        }
      }
    }
  }
  .block_e {
    .content {
      overflow: hidden;
      .hdr {
        font-family: Roboto, sans-serif;
        font-size: 24px;
        text-align: center;
        margin: 45px 0px;
      }
      .thumbwrapper {
        overflow: hidden;
        width: 100%;
      }
      .latest {
        overflow: hidden;
        .lt_thumb:first-child {
          margin: 0px;
        }
        .lt_thumb {
          overflow: hidden;
          width: 209px;
          height: 383px;
          border: 1px solid #e8e8e8;
          padding: 15px 30px;
          float: left;
          margin-left: 28px;
          .thumbline_one {
            overflow: hidden;
            p {
              font-size: 12px;
              font-weight: bold;
              color: #ffffff;
              border-radius: 5px;
              float: left;
              padding: 4px 12px;
              background-color: #f13d70;
            }
            img {
              display: block;
              float: right;
            }
          }
          .thumbline_two {
            img {
              display: block;
              margin: 20px auto 6px auto;
            }
          }
          .thumbline_three {
            overflow: hidden;
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 5px;
            .m_name {
              display: block;
              font-size: 12px;
              color: #4bc1c1;
              margin-top: 23px;
            }
            .m_model {
              font-size: 14px;
              font-weight: bold;
              margin-bottom: 10px;
            }
            .rating {
              overflow: hidden;
              float: left;
              width: 50%;
              img {
                display: block;
                float: left;
                margin-right: 2px;
              }
            }
            .comment {
              overflow: hidden;
              float: right;
              width: 50%;
              img {
                display: block;
                float: right;
                margin-top: 2px;
                margin: 2px 6px 0px 0px;
              }
              p {
                float: right;
                font-size: 14px;
              }
            }
          }
          .thumbline_four {
            overflow: hidden;
            .ppp {
              overflow: hidden;
              float: left;
              width: 50%;
              .pricesmall {
                overflow: hidden;
                font-size: 12px;
                color: #b8bfc0;
                margin-top: 10px;
                s {
                  font-size: 12px;
                  color: #b8bfc0;
                }
                sup {
                  font-size: 8px;
                  color: #b8bfc0;
                }
              }
              .pricebig {
                overflow: hidden;
                font-size: 24px;
                font-weight: bold;
                color: #4bc1c1;
                sup {
                  font-size: 14px;
                }
              }
              .instock {
                overflow: hidden;
                margin-top: 12px;
                img {
                  display: block;
                  float: left;
                  margin: 1px 6px 0px 0px;
                }
                p {
                  float: left;
                  font-size: 11px;
                  color: #b8bfc0;
                }
              }
            }
            .bb {
              overflow: hidden;
              float: left;
              width: 50%;
              img {
                display: block;
                float: left;
                margin: 1px 5px 0px 0px;
              }
              p {
                float: left;
                font-size: 12px;
                font-weight: bold;
                font-family: Roboto, sans-serif;
                color: #ffffff;
              }
              button {
                padding: 8px 14px;
                margin: 21px 0px 0px 10px;
                border-radius: 18px;
                background-color: #f13d70;
                cursor: pointer;
                border: none;
                font-size: 12px;
                font-weight: bold;
                font-family: Roboto, sans-serif;
                color: #ffffff;
              }
            }
          }
        }
      }
      .offer {
        overflow: hidden;
        .fr_thumb:first-child {
          margin: 0px;
        }
        .fr_thumb {
          overflow: hidden;
          width: 208px;
          height: 289px;
          border: 1px solid #e8e8e8;
          padding: 15px 30px;
          float: left;
          margin-left: 28px;
          .thumbline_one {
            overflow: hidden;
            p {
              font-size: 12px;
              font-weight: bold;
              color: #ffffff;
              border-radius: 5px;
              float: left;
              padding: 4px 12px;
              background-color: #f13d70;
            }
            img {
              display: block;
              float: right;
              margin-top: 5px;
              margin: 5px 0px 0px 2px;
            }
          }
          .thumbline_two {
            overflow: hidden;
            img {
              display: block;
              margin: 20px auto 6px auto;
            }
            .bb {
              position: absolute;
              padding: 8px 14px;
              margin: -104px 0px 0px 58px;
              border-radius: 18px;
              background-color: #f13d70;
              cursor: pointer;
              border: none;
              font-size: 12px;
              font-weight: bold;
              font-family: Roboto, sans-serif;
              color: #ffffff;
              img {
                display: block;
                float: left;
                margin: 1px 5px 0px 0px;
              }
              p {
                float: left;
                font-size: 12px;
                font-weight: bold;
                font-family: Roboto, sans-serif;
                color: #ffffff;
              }
            }
          }
          .thumbline_three {
            overflow: hidden;
            .m_model {
              font-size: 14px;
              font-weight: bold;
              margin: 23px 0px 10px 0px;
              text-align: center;
            }
            .pricebig {
              overflow: hidden;
              font-size: 24px;
              font-weight: bold;
              color: #4bc1c1;
              text-align: center;
              sup {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .block_f {
    background-color: #fbfbfb;
    .content {
      width: 100%;
      margin: 0px;
      overflow: hidden;
      .corewrapper {
        width: 1170px;
        margin: 0 auto 30px auto;
        overflow: hidden;
      }
      .hdrwrapper {
        overflow: hidden;
        background-color: #ffffff;
        .hdrwrappercenter {
          overflow: hidden;
          margin: 0 auto;
          width: 1170px;
          p {
            font-family: Roboto, sans-serif;
            font-size: 24px;
            margin: 45px 0px;
            float: left;
            width: 50%;
          }
          p:last-child {
            width: 473px;
            margin-left: 112px;
          }
        }
      }
      .buyercomment {
        overflow: hidden;
        width: 50%;
        float: left;
        .comment {
          overflow: hidden;
          width: 100%;
          margin-top: 30px;
          .avatar {
            overflow: hidden;
            width: 98px;
            height: 98px;
            border: 1px solid #e8e8e8;
            background-color: #ffffff;
            background-image: url("../img/avatar.png");
            background-repeat: no-repeat;
            background-position: center;
            float: left;
            margin-top: 3px;
          }
          .commentcontent {
            overflow: hidden;
            float: left;
            width: 455px;
            margin: 0px 0px 0px 13px;
            .username {
              font-size: 14px;
            }
            .ratetime {
              overflow: hidden;
              margin-top: 8px;
              .rating {
                overflow: hidden;
                float: left;
                img {
                  display: block;
                  float: left;
                  margin-right: 2px;
                }
              }
              .timestamp {
                overflow: hidden;
                float: right;
                p {
                  float: right;
                  font-size: 12px;
                  color: #b8bfc0;
                }
                img {
                  display: block;
                  float: right;
                  margin: 2px 8px 0px 0px;
                }
              }
            }
            .usermessage {
              font-size: 12px;
              font-family: Myriad Pro, sans-serif;
              margin-top: 8px;
            }
          }
        }
        .commentswipe {
          overflow: hidden;
          button {
            width: 24px;
            height: 24px;
            background-color: #e8e8e8;
            border: none;
            border-radius: 25px;
            float: right;
            cursor: pointer;
            margin-top: 8px;
            background-repeat: no-repeat;
            background-position: center;
          }
          button:first-child {
            margin: 8px 16px 0px 6px;
            background-image: url("../img/comment_next.png");
          }
          button:last-child {
            background-image: url("../img/comment_prev.png");
          }
          button:hover {
            background-color: #f13d70;
          }
        }
      }
      .paymentdelivery {
        overflow: hidden;
        width: 50%;
        float: left;
        .payment {
          overflow: hidden;
          width: 473px;
          margin-left: 112px;
          img {
            display: block;
            float: left;
            margin-right: 28px;
          }
          .paypalvisa {
            margin-top: 6px;
          }
          .acceptpayhdr {
            font-size: 24px;
            margin: 30px 0px 26px 0px;
          }
          .warning {
            overflow: hidden;
            float: left;
            width: 100%;
            margin-top: 26px;
            p {
              font-size: 14px;
              color: #4bc1c1;
              text-align: left;
              width: 426px;
              float: left;
            }
            img {
              margin-right: 23px
            }
          }
        }
        .delivery {
          overflow: hidden;
          width: 473px;
          margin-left: 112px;
          .deliveryhdr {
            font-size: 24px;
            margin: 30px 0px 22px 0px;
          }
          .deliverydscr {
            font-size: 12px;
            font-family: Myriad Pro, sans-serif;
          }
          .trucktype {
            overflow: hidden;
            margin-top: 42px;
            .truck {
              overflow: hidden;
              float: left;
              img {
                display: block;
                float: left;
              }
            }
            .type {
              overflow: hidden;
              float: left;
              margin-left: 30px;
              img {
                display: block;
                float: left;
                clear: left;
                margin-top: 2px;
              }
              p {
                float: left;
                font-size: 14px;
                margin: 0px 0px 3px 10px;
              }
            }
          }
        }
        .moreaboutdlvr {
          overflow: hidden;
          width: 473px;
          margin-left: 112px;
          a {
            display: block;
            float: left;
            text-decoration: underline;
            font-size: 14px;
            margin: 26px 12px 0px 0px;
          }
          img {
            display: block;
            float: left;
            margin-top: 30px;
          }
        }
      }
    }
  }
  .block_g {
    .content {
      overflow: hidden;
      p {
        font-size: 14px;
        margin-bottom: 20px;
      }
      a {
        font-size: 14px;
        text-decoration: underline;
      }
      .textwrapper {
        overflow: hidden;
        margin: 95px 0px 105px 0px;
      }
    }
  }
}
// CONTENT end
