// CONTENT start
main {
  .block_a {
    .content {
      height: 116px;
      div {
        font-size: 14px;
        padding-top: 30px;
        p {
          display: inline;
        }
        a {
          color: #67797a;
          text-decoration: underline;
        }
      }
      #m_smbl {
        margin: 0px 5px;
      }
    }
  }
  .block_b {
    .content {
      overflow: hidden;
      .settingpanel {
        overflow: hidden;
        float: left;
        width: 214px;
        background-color: #fbfbfb;
        margin-top: 6px;
        padding: 28px;
        .setcmpr {
          overflow: hidden;
          border-bottom: 1px solid #e8e8e8;
          .setcmprhdr {
            font-size: 14px;
            margin: 0px 0px 20px 0px;
          }
          .setitem {
            overflow: hidden;
            margin-top: 14px;
            p {
              float: left;
              font-size: 12px;
              margin-top: 10px;
            }
            p:first-child {
              color: #f13d70;
              cursor: pointer;
              font-size: 13px;
            }
            img {
              display: block;
              float: left;
              width: 28px;
              height: 36px;
              margin: 0px 10px 0px 14px;
            }
          }
          button {
            display: block;
            float: left;
            cursor: pointer;
            text-decoration: underline;
            background-color: #fbfbfb;
            border: none;
            padding: 6px 23px;
            font-size: 12px;
            border-radius: 4px;
            margin: 20px 0px 30px 0px;
          }
          button:last-child {
            margin-left: 12px;
          }
          button:hover {
            background-color: #f13d70;
            text-decoration: none;
            color: #ffffff;
          }
        }
        .filter {
          overflow: hidden;
          border-bottom: 1px solid #e8e8e8;
          .filterhdr {
            font-size: 14px;
            margin: 20px 0px 0px 0px;
          }
          .filtercontainer {
            overflow: hidden;
            padding: 12px 0px;
            width: 100%;
            .filteritem {
              overflow: hidden;
              float: left;
              p {
                float: left;
                font-size: 14px;
              }
              p:first-child {
                color: #f13d70;
                cursor: pointer;
                font-size: 13px;
                margin: 1px 10px 0px 0px;
              }
            }
          }
          button {
            display: block;
            float: left;
            cursor: pointer;
            background-color: #f13d70;
            border: none;
            padding: 6px 25px;
            font-size: 12px;
            color: #ffffff;
            border-radius: 4px;
            margin: 2px 0px 20px 30px;
          }
        }
      }
      .comparisonpanel {
        overflow: hidden;
        float: left;
        margin: 0px 0px 0px 30px;
        h3 {
          font-size: 24px;
        }
        .compareline {
          overflow: hidden;
          .comparenumber {
            float: left;
            font-size: 12px;
            color: #b8bfc0;
            width: 270px;
            margin-top: 310px;
            span {
              font-weight: bold;
            }
          }
          .comparethumb {
            overflow: hidden;
            padding: 15px 30px;
            float: left;
            .actionthumb {
              overflow: hidden;
              width: 240px;
              p {
                display: block;
                float: right;
                font-family: Myriad Pro, sans-serif;
                font-size: 24px;
                color: #f13d70;
                cursor: pointer;
              }
            }
            .thumbbodywrapper {
              overflow: hidden;
              width: 208px;
              .rate {
                overflow: hidden;
                p {
                  font-size: 12px;
                  font-weight: bold;
                  color: #ffffff;
                  border-radius: 5px;
                  float: left;
                  padding: 4px 12px;
                  background-color: #f13d70;
                }
                img {
                  display: block;
                  float: right;
                  margin-top: 5px;
                  margin: 5px 0px 0px 2px;
                }
              }
              .mrch {
                overflow: hidden;
                img {
                  display: block;
                  margin: 20px auto 6px auto;
                }
                .bb {
                  position: absolute;
                  padding: 8px 14px;
                  margin: -104px 0px 0px 58px;
                  border-radius: 18px;
                  background-color: #f13d70;
                  cursor: pointer;
                  border: none;
                  font-size: 12px;
                  font-weight: bold;
                  font-family: Roboto, sans-serif;
                  color: #ffffff;
                  img {
                    display: block;
                    float: left;
                    margin: 1px 5px 0px 0px;
                  }
                  p {
                    float: left;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: Roboto, sans-serif;
                    color: #ffffff;
                  }
                }
              }
              .mrchdscr {
                overflow: hidden;
                .m_model {
                  font-size: 14px;
                  font-weight: bold;
                  margin: 23px 0px 10px 0px;
                  text-align: center;
                }
                .pricebig {
                  overflow: hidden;
                  font-size: 24px;
                  font-weight: bold;
                  color: #4bc1c1;
                  text-align: center;
                  sup {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .comparecharact {
          overflow: hidden;
          .cmprhdr {
            font-size: 18px;
            font-weight: bold;
            margin-top: 22px;
          }
          .cmprhdr:first-child {
            margin-top: 32px;
          }
          tr:first-child td {
            padding-top: 30px;
          }
          td {
            font-size: 14px;
            width: 287px;
            padding-top: 16px;
          }
        }
      }
    }
  }
}
// CONTENT end
